<div class="container">
  <div class="d-flex">
    <p>Bike Model :</p>
    <%= @bike.name  %>
  </div>
  <div class="">
    <% @bike.customization_categories.each do |cc|  %>
      <hr><div class="d-flex">
        <p>Bike Part :</p>
        <%= cc.bike_element  %>
      </div>
      <% cc.customization_options.each do |co| %>
        <div class="d-flex justify-content-between">
          <p>Size/Color :</p>
          <%= co.option  %>
          <%= simple_form_for([@bike, @limitation]) do |bl|   %>
            <div class="d-flex justify-content-between">
              <p>Dependent customizations :</p>
              <%= bl.input :customization_category, collection: (@bike.customization_categories.reject {|cat| cat == cc}), label_method: :bike_element  %>

            </div>
            <%= bl.submit  %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
